.project-card {
    display: flex;
    flex-direction: row;

    .text {
        grid-area: text;
        align-self: flex-start;

        .desc {
            margin: 1rem 0;
            color: initial;

        }
        
        .wip {
            margin-top: 0;
        }
    }
}

@media only screen and (max-width: 810px) {
    .project-card {
        
        .text {

            .desc {
                margin: 0.5rem 0;
            }
        }
    }
}