header {
    position: sticky;
    top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 20;

    img {
        display: block;
    }
}

@media only screen and (max-width: 450px) {
    header {
        top: 1.5rem;
    }
}