.videoWrapper {
    position: relative;
    padding-top: 56.25%;
    margin: 2rem 0;
    grid-column-start: 2;
    grid-column-end: span 8;

    .video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}