.content-section {
    grid-column-start: 3;
    grid-column-end: span 6;
    
    .section-header {
        color: var(--accent-color);
        margin-bottom: 0.625rem;
        font-style: italic;
    }

    &.add-top-margin {
        margin-top: 4rem;
    }

    &.long {
        grid-column-end: span 7;
    }
}

@media only screen and (max-width: 450px) {
    .content-section {
        &.add-top-margin {
            margin-top: 2rem;
        }
    }
}
