.content {
    position: relative;
    display: grid;
    grid-template-columns: 120px 11fr;
    align-items: start;;
    column-gap: 1.25rem;
    grid-template-areas: "side body";

    #contact {
        margin-top: 5rem;
        position: fixed;
        grid-column-start: 1;
    }

    main {
        grid-area: body;

        display: grid;
        grid-template-columns: repeat(10, 1fr);
        justify-content: center;
        column-gap: 1.25rem;
    }

    #self-portrait {
        position: fixed;
        right: 4rem;
        bottom: 0.5rem;
        
        img {
            width: 80%;
        }
    }
}

@media only screen and (max-width: 450px) {
    .content {
        display: flex;
        flex-direction: column;
        margin-top: 0rem;

        #contact {
            position: relative;
            margin-top: 2rem;
        }

        main {
            display: flex;
            flex-direction: column;
            margin-top: 3rem;
        }

        #self-portrait {
            position: initial;
            margin: 2rem 0 0;
            align-self: flex-end;

            img {
                display: block;
            }
        }
    }
}