@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,400;0,600;1,400&display=swap');

// Desktop Font Sizes
$dt-h1-size: 2.5rem; // 40px
$dt-h2-size: 1.5rem; // 24px;
$dt-h3-size: 1.25rem; // 20px;
$dt-h4-size: 1.25rem; // 20px;
$dt-p-size: 1.25rem; // 14px;

// Mobile Font sizes
$m-h1-size: 1.75rem; // 28px
$m-h2-size: 1.25rem; // 20px;
$m-h3-size: 1rem; // 16px;
$m-h4-size: 1rem; // 12px;
$m-p-size: 1rem; // 16px;

:root {
    --bg-color: hsl(0, 0%, 94%);
    --primary-color: hsl(0, 0%, 0%);
    --accent-color: hsl(0, 0%, 0%);
    --font-color: hsl(0, 0%, 0%);
    --em-color: hsl(0, 0%, 0%);

    --main-font: 'IBM Plex Serif', serif;
}

.common-header {
    font-family: var(--main-font);
    margin: 0;
}

@mixin dt-h1($weight) {
    font-size: $dt-h1-size;
    font-weight: $weight;
    @extend .common-header
}

@mixin dt-h2($weight) {
    font-size: $dt-h2-size;
    font-weight: $weight;
    text-transform: capitalize;
    @extend .common-header
}

@mixin dt-h3($weight) {
    font-size: $dt-h3-size;
    font-weight: $weight;
    text-transform: capitalize;
    @extend .common-header
}

@mixin dt-h4($weight) {
    font-size: $dt-h4-size;
    font-weight: $weight;
    text-transform: capitalize;
    @extend .common-header
}

body {
    margin: 0;
    padding: 0 5rem 5rem;
    background-color: var(--bg-color);
    
    color: var(--font-color);
    font-family: var(--main-font);
    font-size: $dt-p-size;
}

a {
    text-decoration: none;
}

h1 {
    @include dt-h1(400);
    color: var(--primary-color);
    margin-bottom: 4rem;
}

h2 {
    @include dt-h2(600);
    color: var(--primary-color);
}

h3 {
    @include dt-h3(600);
    font-family: var(--main-font);
}

h4 {
    @include dt-h4(400);
}

h4.bold {
    @include dt-h4(500);
}

p {
    margin-top: 1.25rem;
    margin-bottom: 0;

    &:first-of-type {
        margin-top: 0;
    }
    opacity: 0.9;
}

em {
    font-style: unset;
    font-weight: 600;
    color: var(--em-color);
    // border-bottom: 2px solid $font-color;
}

p.floating-block {
    margin-top: 2rem;
}

@media only screen and (max-width: 960px) { 
    body {
        padding: 0 3rem 3rem;
        font-size: $m-p-size;
    }

    h1 {
        font-size: $m-h1-size;
        margin-bottom: 2.5rem;
    }

    h2 {
        font-size: $m-h2-size;
    }
    h3 {
        font-size: $m-h3-size;
    }

    h4 {
        font-size: $m-h4-size;

        &.bold {
            font-size: $m-h4-size;
        }
    }
}