.project-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 5rem;
    row-gap: 3rem;
}

@media only screen and (max-width: 810px) {
    .project-grid {
        display: flex;
        flex-direction: column;
        row-gap: 2rem;
    }
}