.solo-graphic {
    text-align: center;
    margin: 2rem auto;
    grid-column: 1 / span 11;

    img {
        display: block;
        margin: 0 auto; 
        max-width: 100%;
    }

    &.ignore-all-margin {
        margin: 0 auto;
    }

    &.ignore-top-margin {
        margin-top: 0;
    }

    &.ignore-bottom-margin {
        margin-top: 0;
    }


    figcaption {
        font-size: 0.875rem;
        font-style: italic;
        opacity: 0.6;
        text-align: left;
    }
}

@media only screen and (max-width: 450px) {
    .solo-graphic {

        &.small {

            img {
                width: 100%;
            }
        }
    }
}